flows.json
[{"id":"431ca856.728ff","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"4989d9c.7f417a8","type":"http in","z":"431ca856.728ff","name":"","url":"/post-data","method":"post","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["d394302c.6dd11"]]},{"id":"d394302c.6dd11","type":"json","z":"431ca856.728ff","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["59b47726.e14a5"]]},{"id":"59b47726.e14a5","type":"function","z":"431ca856.728ff","name":"calc fukai","func":"msg.payload.fukai = 0.81 * msg.payload.temperature + 0.01 * msg.payload.humidity * (0.99 * msg.payload.temperature - 14.3) + 46.3;\nmsg.payload.created_at = Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["fc4d1d9.ff6c8e","1e805de3.895052","b342e871.915c7","305b727c.e5a51e","5f9d9f40.c92ad"]]},{"id":"b342e871.915c7","type":"cloudant out","z":"431ca856.728ff","name":"","cloudant":"","database":"sensor-data","service":"fukai-cloudantNoSQLDB","payonly":true,"operation":"insert","x":730,"y":100,"wires":[]},{"id":"60673fe3.c336f","type":"http in","z":"431ca856.728ff","name":"","url":"/now","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["c1dfdf87.393858"]]},{"id":"fc4d1d9.ff6c8e","type":"http response","z":"431ca856.728ff","name":"","statusCode":"202","headers":{},"x":730,"y":60,"wires":[]},{"id":"c1dfdf87.393858","type":"cloudant in","z":"431ca856.728ff","name":"","cloudant":"","database":"sensor-data","service":"fukai-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330,"y":400,"wires":[["8f21f4f8.4bf9c"]]},{"id":"9ff11fb5.865b5","type":"http response","z":"431ca856.728ff","name":"","statusCode":"200","headers":{"Access-Control-Allow-Origin":"*"},"x":850,"y":400,"wires":[]},{"id":"2aa72f2a.400178","type":"ui_chart","z":"431ca856.728ff","name":"","group":"24222bd.be08854","order":0,"width":"6","height":"4","label":"不快指数","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":140,"wires":[[]]},{"id":"1e805de3.895052","type":"template","z":"431ca856.728ff","name":"fukai","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.fukai}}","output":"str","x":710,"y":140,"wires":[["2aa72f2a.400178","180b192b.e61d67"]]},{"id":"180b192b.e61d67","type":"ui_gauge","z":"431ca856.728ff","name":"","group":"24222bd.be08854","order":1,"width":0,"height":0,"gtype":"gage","title":"不快指数","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#3498db","#2ecc71","#e74c3c"],"seg1":"65","seg2":"70","x":890,"y":180,"wires":[]},{"id":"305b727c.e5a51e","type":"template","z":"431ca856.728ff","name":"temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.temperature}}","output":"str","x":740,"y":220,"wires":[["6eb6b279.e11a2c"]]},{"id":"6eb6b279.e11a2c","type":"ui_chart","z":"431ca856.728ff","name":"","group":"1b07157a.a04f83","order":2,"width":0,"height":0,"label":"気温","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":220,"wires":[[]]},{"id":"5f9d9f40.c92ad","type":"template","z":"431ca856.728ff","name":"humidity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.humidity}}","output":"str","x":720,"y":260,"wires":[["a129ba06.6c0c7"]]},{"id":"a129ba06.6c0c7","type":"ui_chart","z":"431ca856.728ff","name":"","group":"1b07157a.a04f83","order":3,"width":0,"height":0,"label":"湿度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":260,"wires":[[]]},{"id":"8f21f4f8.4bf9c","type":"sort","z":"431ca856.728ff","name":"","order":"descending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$[].created_at","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":510,"y":400,"wires":[["bdaf7788.5014d"]]},{"id":"bdaf7788.5014d","type":"function","z":"431ca856.728ff","name":"","func":"// 新しい記録から順に並んでいる\n// 一度登場したUUIDは除外した集合を作ることで\n// それは全てのセンサーの最新の状態の配列になる\nlet already_uuids = [];\nmsg.payload = msg.payload.filter(data => {\n    if(already_uuids.includes(data.uuid)) return false;\n    else {\n        already_uuids.push(data.uuid)\n        return true;\n    }\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["9ff11fb5.865b5"]]},{"id":"87ed2e84.f81d88","type":"http in","z":"431ca856.728ff","name":"","url":"/get-history/:uuid","method":"get","upload":false,"swaggerDoc":"","x":170,"y":500,"wires":[["acbd8e61.afe18"]]},{"id":"5d78af29.2dd198","type":"cloudant in","z":"431ca856.728ff","name":"","cloudant":"","database":"sensor-data","service":"fukai-cloudantNoSQLDB","search":"_idx_","design":"hello","index":"uuiddayo","x":570,"y":500,"wires":[["a601ebe8.eded68"]]},{"id":"acbd8e61.afe18","type":"function","z":"431ca856.728ff","name":"","func":"msg.payload.query = \"uuid:\" + msg.req.params.uuid;\nmsg.payload.limit = 200;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["5d78af29.2dd198"]]},{"id":"a601ebe8.eded68","type":"http response","z":"431ca856.728ff","name":"","statusCode":"","headers":{},"x":750,"y":500,"wires":[]},{"id":"24222bd.be08854","type":"ui_group","z":"","name":"不快指数","tab":"284ed90a.5ec526","disp":true,"width":"6","collapse":false},{"id":"1b07157a.a04f83","type":"ui_group","z":"","name":"センサの値","tab":"284ed90a.5ec526","disp":true,"width":"6","collapse":false},{"id":"284ed90a.5ec526","type":"ui_tab","z":"","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false}]